<div class = "wrapper">
<div class = "form_wrapper">
<h2>Army Name:</h2>
<h1><%= @user_faction.army_name %></br></h1>
</br>
<h2>Faction Name:</h2>
<h1><%= @user_faction.faction.name.capitalize%></h1></br>
<h2>Buff Type:</h2>
<h1><%= @user_faction.faction.buff_type%></h1></br>
<h2>Buff:</h2>
<h1><%= @user_faction.faction.buff%></h1></br>

</div>
</div>

