<div class = "wrapper">
<h1>Factions:</h1>
    <% @factions.each do |faction|%>
        <div class = "faction_wrapper">
            <h2><%= faction.name.capitalize %></h2>
                <%= faction_logo(faction) %>
                <a href="/factions/<%= faction.id %>" class = "button">Info</a>
            </br>
            <a href="/users/<%= session[:user_id] %>/user_factions/new" class = 'button'>Build Army</a>
        </div>
    <% end %>
</div>