<h1>index</h1>
<div class = "wrapper">
    <div class = "main_content">
        <p>stuffs here i swear</p>
    <div>
    <%= @factions.each do |faction|%>
        <div class = "sub_wrapper">
            faction.name 
            <div class="image">
                <p>im an image</p>
            </div>
        </div>
    <%end%>

</div>