<h1>show</h1>
<div class = "wrapper">
    <div class = "sub_wrapper">
        <h1 class="faction_title"><%= @faction.name %></h1>
    </div>
    <div class = "sub_wrapper">
        <p><%= @faction.buff_type %></p>
        <p><%= @faction.buff %></p>
    </div>
    <div class = "main_content">
        <p>stuffs here i swear</p>
    <div>
</div>