
<div class = "wrapper">
    <div class = "form_wrapper">
        <h2> Faction Name:</h2>
        <h1 class="faction_title"><%= @faction.name.capitalize %></h1></br>
        <%= faction_logo(@faction) %></br>
        <h2>Faction Buff Type:</h2>
        <h1><%= @faction.buff_type.capitalize %></h1></br>
        <h2> Buff: </h2>
        <h1><%= @faction.buff %></h1>
        <p>Lore. so much lore that it makes you question if you will even reaaaallllly read this</p>
    </div>
</div>